{% extends 'base.html.twig' %}

{% block title %}
	Welcome to super-project
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center justify-center">
		<h1 class="text-4xl">Welcome to super project !</h1>
		<div class="flex gap-4">

			{% if app.user == false %}
				<a class="bg-blue-500 px-2 py-1" href="{{path('app_login')}}">Log In</a>
				<a class="bg-green-500 px-2 py-1" href="{{path('app_register')}}">Register</a>

			{% else %}
				<div>
					<a class="bg-blue-500 px-2 py-1" href="{{path('app_logout')}}">Log Out</a>

					<a class="bg-blue-500 px-2 py-1" href="{{ path('app_user', {'id': app.user.id}) }}" class="">See my profile</a>

				</div>
				{% if is_granted("ROLE_ADMIN") %}
					<div>
						<a class="bg-blue-500 px-2 py-1" href="{{path('app_dashboard_admin')}}">Admin Dashboard</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>

{% endblock %}
