{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<form class="h-screen flex flex-col justify-center items-center" method="post">

		<div>
			<div class="text-center mb-3">
				<h2 class="text-5xl font-bold text-gray-900 mb-2">Inscription</h2>
				<p class="text-xl text-gray-600">Créez votre compte pour accéder à nos fonctionnalités</p>
			</div>

			<div class="flex flex-col justify-center w-xl mx-auto shadow-xl rounded-xl p-12">

				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}
				{{ form_label(registrationForm.email, 'Adresse email', {'attr': {'class': 'block text-sm font-medium text-gray-700 mb-2'}}) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'w-full px-4 py-3 border border-gray-300 rounded-lg mb-3'}}) }}

				{{ form_label(registrationForm.firstname, 'Prénom', {'attr': {'class': 'block text-sm font-medium text-gray-700 mb-2'}}) }}
				{{ form_widget(registrationForm.firstname, {'attr': {'class': 'w-full px-4 py-3 border border-gray-300 rounded-lg mb-3'}}) }}

				{{ form_label(registrationForm.lastname, 'Nom', {'attr': {'class': 'block text-sm font-medium text-gray-700 mb-2'}}) }}
				{{ form_widget(registrationForm.lastname, {'attr': {'class': 'w-full px-4 py-3 border border-gray-300 rounded-lg mb-3'}}) }}

				{{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'attr': {'class': 'block text-sm font-medium text-gray-700 mb-2'}}) }}
				{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'w-full px-4 py-3 border border-gray-300 rounded-lg mb-3'}}) }}

				{{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe', {'attr': {'class': 'block text-sm font-medium text-gray-700 mb-2'}}) }}
				{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'w-full px-4 py-3 border border-gray-300 rounded-lg mb-3'}}) }}

				<div class="flex items-start mt-3">
					<div class="flex items-center h-5">
						{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 text-green-600 border-gray-300 rounded'}}) }}
					</div>
					<div class="ml-3 text-sm">
						{{ form_label(registrationForm.agreeTerms, "J'accepte les conditions d'utilisation", {'attr': {'class': 'text-gray-700'}}) }}
					</div>
				</div>

				<button type="submit" class="mt-8 w-full text-white bg-green-600 font-semibold py-3 px-4 rounded-lg hshadow-lg cursor-pointer hover:bg-green-700">
					S'inscrire
				</button>

				{{ form_end(registrationForm) }}
			</div>
			<div class="mt-5">
				<a href="{{ path('app_home_page') }}" class="text-gray-500 text-sm rounded-md w-fit px-3 py-2 hover:text-gray-800 cursor-pointer">
					&#x2190; Retour à l'accueil
				</a>
			</div>

		</div>

	</form>

{% endblock %}
