{% extends 'base.html.twig' %}

{% block title %}
	Update my profile
{% endblock %}

{% block body %}

	<div class="">
		<h1>Update my informations</h1>
		{{ form_start(form) }}
		<div class="">First name
			{{ form_widget(form.firstname, {'attr': {'class': ''}})	}}
		</div>

		<div class="">Last name
			{{ form_widget(form.lastname, {'attr': {'class': ''}})	}}
		</div>


		<div class="">Email
			{{ form_widget(form.email, {'attr': {'class': ''}})	}}
		</div>


		<button class="">Save modifciations</button>
		{{ form_end(form)}}


	</div>

{% endblock %}
